<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Login</title>
</head>
<body class="bg-gray-800 w-full h-screen flex justify-center items-center">
    <div>
        <% if (message.length > 0) { %>
            <div class="bg-red-500 text-white text-center py-2 px-3 rounded mb-4">
                <%= message %>
            </div>
        <% } %>
        <div class="bg-gray-700 py-6 px-8 rounded w-[500px] shadow-2xl">
            <form action="/auth/login" method="post" enctype="application/x-www-form-urlencoded">
                <h2 class="my-4 font-semibold text-white text-center text-2xl">Login to continue</h2>
                <div class="space-y-2 mb-4">
                    <div class="flex flex-col space-y-1">
                        <label class="text-white" for="email">Username or Email</label>
                        <input class="bg-gray-800 text-white py-2 px-3 rounded w-full" type="text" name="username_email" required>
                    </div>
                    <div class="flex flex-col space-y-1">
                        <label class="text-white" for="password">Password</label>
                        <input class="bg-gray-800 text-white py-2 px-3 rounded w-full" type="password" name="password" required>
                    </div>
                </div>
                <span class="text-white">No Account? <a href="/auth/register" class="text-blue-400 underline">Register</a></span>
                <button type="submit" class="mt-4 text-white bg-blue-500 rounded py-2 px-3 w-full hover:bg-blue-600 transition-all duration-100">Login</button>
            </form>
        </div>
    </div>
</body>
</html>