{% extends "/admin/layout.html" %}

{% block content %}
    <div class="mt-[30px]">
        {% if get_flashed_messages(with_categories=true) %}
            {% if get_flashed_messages(with_categories=true)[0][0] == "succes" %}
                <div class="shadow-xl bg-blue-500 text-neutral-100 py-2 px-4 mx-[30px] rounded mb-4">
                    {{ get_flashed_messages(with_categories=true)[0][1] }}
                </div>
            {% else %}
                <div class="shadow-xl bg-orange-500 text-neutral-100 py-2 px-4 mx-[30px] rounded mb-4">
                    {{ get_flashed_messages(with_categories=true)[0][1] }}
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="shadow-xl mx-[30px]">
        <div class="bg-zinc-900 p-3 rounded-t w-full border-b-2 border-blue-500">
            <div class="flex items-center">
                <i class="fa-docker fa-brands text-neutral-100 mx-2 mr-4"></i>
                <h2 class="font-semibold text-xl text-neutral-100">View image</h2>
            </div> 
        </div>
        <div class="bg-zinc-800/70 p-6 overflow-y-auto">
            <form action="/api/admin/images/{{ query('SELECT * FROM images WHERE id = ?', imageid)[0][0] }}/update" method="post">
                <input type="text" name="csrf_token" value="{{ session['csrf_token'] }}" hidden>
                <input type="text" name="token" value="{{ session['token'] }}" hidden>
                <div class="flex">
                    <div class="text-neutral-100 mx-2 flex flex-col w-1/3">
                        <label for="image_name" class="mb-2">Image name</label>
                        <input type="text" name="image_name" class="rounded bg-zinc-700 py-1 px-3 border border-zinc-600" value="{{ query("SELECT * FROM images WHERE id = ?", imageid)[0][1] }}" required>
                    </div>
                    <div class="text-neutral-100 mx-2 flex flex-col w-1/3">
                        <label for="docker_image" class="mb-2">Docker image</label>
                        <input type="text" name="docker_image" class="rounded bg-zinc-700 py-1 px-3 border border-zinc-600" value="{{ query("SELECT * FROM images WHERE id = ?", imageid)[0][3] }}" required>
                    </div>
                    <div class="text-neutral-100 mx-2 flex flex-col w-1/3">
                        <label for="startup_command" class="mb-2">Startup command</label>
                        <input type="text" name="startup_command" class="rounded bg-zinc-700 py-1 px-3 border border-zinc-600" value="{{ query("SELECT * FROM images WHERE id = ?", imageid)[0][2] }}" required>
                    </div>
                </div>
                <input type="submit" id="update_image" hidden>
            </form>
            <form action="/api/admin/images/{{ query('SELECT * FROM images WHERE id = ?', imageid)[0][0] }}/variables/create" method="post">
                <input type="text" name="csrf_token" value="{{ session['csrf_token'] }}" hidden>
                <input type="text" name="token" value="{{ session['token'] }}" hidden>
                <input type="text" name="variable_name" value="My variable" hidden>
                <input type="text" name="variable" value="MY_VARIABLE" hidden>
                <input type="text" name="variable_data" value="" hidden>
                <input type="submit" id="create_variable" hidden>
            </form>
        </div>
        <div class="bg-zinc-800/70 rounded-b p-4">
            <div class="flex justify-end">
                <a onclick="document.getElementById('create_variable').click()" class="select-none text-white font-semibold bg-blue-500 hover:bg-blue-600 duration-300 rounded px-4 py-1 mx-1">Add Variable</a>
                <a onclick="document.getElementById('update_image').click()" class="select-none text-white font-semibold bg-blue-500 hover:bg-blue-600 duration-300 rounded px-4 py-1 mx-1">Update Image</a>
            </div>
        </div>
    </div>
    <div class="flex justify-center flex-wrap mb-5">
        {% if query("SELECT * FROM image_variables WHERE image_id = ? ORDER BY id ASC", imageid) %}
            {% for variable in query("SELECT * FROM image_variables WHERE image_id = ? ORDER BY id ASC", imageid) %}
                <div class="mt-5 mx-2">
                    <div class="bg-zinc-900 p-3 rounded-t border-b-2 border-blue-500">
                        <div class="flex items-center">
                            <i class="fa-docker fa-brands text-neutral-100 mx-2 mr-4"></i>
                            <h2 class="font-semibold text-xl text-neutral-100">{{ variable[1] }}</h2>
                        </div> 
                    </div>
                    <div class="bg-zinc-800/70 p-4 overflow-y-auto">
                        <form action="/api/admin/images/{{ query('SELECT * FROM images WHERE id = ?', imageid)[0][0] }}/variables/{{ variable[0] }}/update" method="post">
                            <input type="text" name="csrf_token" value="{{ session['csrf_token'] }}" hidden>
                            <input type="text" name="token" value="{{ session['token'] }}" hidden>
                            <div class="flex justify-center">
                                <div class="text-neutral-100 mx-1 flex flex-col w-1/2">
                                    <label for="variable_name" class="mb-2">Variable name</label>
                                    <input type="text" name="variable_name" class="rounded bg-zinc-700 py-1 px-2 border border-zinc-600" value="{{ variable[1] }}" required>
                                </div>
                                <div class="text-neutral-100 mx-1 flex flex-col w-1/2">
                                    <label for="variable" class="mb-2">Variable</label>
                                    <input type="text" name="variable" class="rounded bg-zinc-700 py-1 px-2 border border-zinc-600" value="{{ variable[2] }}" required>
                                </div>
                            </div>
                            <input type="submit" id="update_variable{{ loop.index }}" hidden>
                        </form>
                        <form action="/api/admin/images/{{ query('SELECT * FROM images WHERE id = ?', imageid)[0][0] }}/variables/{{ variable[0] }}/delete" method="post">
                            <input type="text" name="csrf_token" value="{{ session['csrf_token'] }}" hidden>
                            <input type="text" name="token" value="{{ session['token'] }}" hidden>
                            <input type="submit" id="delete_variable{{ loop.index }}" hidden>
                        </form>
                    </div>
                    <div class="bg-zinc-800/70 rounded-b p-3">
                        <div class="flex justify-end">
                            <a onclick="document.getElementById('delete_variable{{ loop.index }}').click()" class="select-none text-white font-semibold bg-red-500 hover:bg-red-600 duration-300 rounded px-4 py-1 mx-1">Delete Variable</a>
                            <a onclick="document.getElementById('update_variable{{ loop.index }}').click()" class="select-none text-white font-semibold bg-blue-500 hover:bg-blue-600 duration-300 rounded px-4 py-1 mx-1">Update Variable</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}