<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Dashboard</title>
</head>
<body class="bg-gray-800">
    <%- include("../partials/sidebar") %>
    <div class="lg:ml-[275px]">
        <div class="h-screen w-full p-6">
            <h2 class="font-semibold text-white text-3xl">Your Servers</h2>
            <p class="text-neutral-200 text-sm">Manage your servers</p>
            <div class="grid grid-cols-4 mt-5 gap-2">
                <a href="/dashboard/servers/423sdf-fsdfsfsdfsd-fsds" class="space-y-2 bg-gray-700 border-gray-600 border duration-75 hover:border-gray-500 p-3 rounded w-full">
                    <h2 class="text-white font-semibold text-xl">
                        NodeJS Server
                        <span class="bg-green-500 text-sm uppercase font-bold px-2 py-1 rounded-full">Online</span>
                    </h2>
                    <ul>
                        <li class="text-neutral-200 text-sm">CPU: 0.5%</li>
                        <li class="text-neutral-200 text-sm">RAM: 512MB</li>
                        <li class="text-neutral-200 text-sm">Disk: 10GB</li>
                        <li class="text-neutral-200 text-sm">Node: laptop-node</li>
                    </ul>
                </a>
                <a href="/dashboard/servers/423sdf-fsdfsfsdfsd-fsds" class="space-y-2 bg-gray-700 border-gray-600 border duration-75 hover:border-gray-500 p-3 rounded w-full">
                    <h2 class="text-white font-semibold text-xl">
                        NodeJS Server
                        <span class="bg-green-500 text-sm uppercase font-bold px-2 py-1 rounded-full">Online</span>
                    </h2>
                    <ul>
                        <li class="text-neutral-200 text-sm">CPU: 0.5%</li>
                        <li class="text-neutral-200 text-sm">RAM: 512MB</li>
                        <li class="text-neutral-200 text-sm">Disk: 10GB</li>
                        <li class="text-neutral-200 text-sm">Node: laptop-node</li>
                    </ul>
                </a>
                <a href="/dashboard/servers/423sdf-fsdfsfsdfsd-fsds" class="space-y-2 bg-gray-700 border-gray-600 border duration-75 hover:border-gray-500 p-3 rounded w-full">
                    <h2 class="text-white font-semibold text-xl">
                        NodeJS Server
                        <span class="bg-green-500 text-sm uppercase font-bold px-2 py-1 rounded-full">Online</span>
                    </h2>
                    <ul>
                        <li class="text-neutral-200 text-sm">CPU: 0.5%</li>
                        <li class="text-neutral-200 text-sm">RAM: 512MB</li>
                        <li class="text-neutral-200 text-sm">Disk: 10GB</li>
                        <li class="text-neutral-200 text-sm">Node: laptop-node</li>
                    </ul>
                </a>
                <a href="/dashboard/servers/423sdf-fsdfsfsdfsd-fsds" class="space-y-2 bg-gray-700 border-gray-600 border duration-75 hover:border-gray-500 p-3 rounded w-full">
                    <h2 class="text-white font-semibold text-xl">
                        NodeJS Server
                        <span class="bg-green-500 text-sm uppercase font-bold px-2 py-1 rounded-full">Online</span>
                    </h2>
                    <ul>
                        <li class="text-neutral-200 text-sm">CPU: 0.5%</li>
                        <li class="text-neutral-200 text-sm">RAM: 512MB</li>
                        <li class="text-neutral-200 text-sm">Disk: 10GB</li>
                        <li class="text-neutral-200 text-sm">Node: laptop-node</li>
                    </ul>
                </a>
                <a href="/dashboard/servers/423sdf-fsdfsfsdfsd-fsds" class="space-y-2 bg-gray-700 border-gray-600 border duration-75 hover:border-gray-500 p-3 rounded w-full">
                    <h2 class="text-white font-semibold text-xl">
                        NodeJS Server
                        <span class="bg-green-500 text-sm uppercase font-bold px-2 py-1 rounded-full">Online</span>
                    </h2>
                    <ul>
                        <li class="text-neutral-200 text-sm">CPU: 0.5%</li>
                        <li class="text-neutral-200 text-sm">RAM: 512MB</li>
                        <li class="text-neutral-200 text-sm">Disk: 10GB</li>
                        <li class="text-neutral-200 text-sm">Node: laptop-node</li>
                    </ul>
                </a>
            </div>
        </div>
    </div>
</body>
</html>