[Unit]
Description=XeonPanel service
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /var/www/app.py
[Install]
WantedBy=multi-user.target
