[Unit]
Description=XeonPanel service
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /etc/xeonpanel/app.py
WorkingDirectory=/etc/xeonpanel
[Install]
WantedBy=multi-user.target