{% extends "/dashboard/layout.html" %}

{% block content %}
    {% if servers %}
        <div class="mt-8">
            {% for server in servers %}
                <div class="flex justify-center">
                    <a href="/dashboard/server/{{ server[0] }}">
                        <div class="justify-between flex w-[1200px] shadow-xl my-1 items-center bg-zinc-900/70 rounded border border-zinc-800 hover:border-zinc-600 duration-200 p-4 mx-8">
                            <div class="text-neutral-100 ml-3 font-semibold text-xl flex items-center">
                                <div class="mr-5">
                                    <i class="fa fa-server"></i>
                                </div>
                                <h2 class="mx-1">{{ server[1] }}</h2>
                            </div>
                            <div class="flex text-neutral-300 text-md items-center">
                                <div class="flex items-center mx-1">
                                    <i class="fas fa-ethernet"></i>
                                    <h2 class="mx-3">{{ server[4] }}</h2>
                                    <i class="fas fa-memory"></i>
                                    <h2 class="mx-3">{{ server[2] }} MB</h2>
                                    <i class="fas fa-hdd"></i>
                                    <h2 class="mx-3">{{ server[3] }} MB</h2>
                                    <div id="server_status{{ loop.index }}" class="py-5 px-1 bg-red-500 rounded-lg ml-4"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h2 class="text-xl text-neutral-100 font-semibold text-center mt-12">
            You don't have any servers
        </h2>
    {% endif %}
{% endblock %}
