<html>
    <head>
        <title>{{ title }}</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <script src="/static/node_modules/xterm/lib/xterm.js"></script>
        <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/node_modules/xterm/css/xterm.css">
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    </head>
    <body class="bg-zinc-700">
        <div>
            <div class="bg-zinc-800 shadow-xl">
                <ul class="flex justify-between h-[3.7rem] mx-24 text-neutral-200 items-center">
                    <a href="/"><li class="text-2xl font-semibold">Xeon-Panel</li></a>
                    <div class="flex items-center mr-4 h-full">
                        <a href="/dashboard">
                            <div class="px-6 h-full flex items-center duration-200 hover:bg-zinc-900 p-4 border-b-2 border-zinc-800 border-blue-500">
                                <i class="mt-1 fa fa-server"></i>
                            </div>
                        </a>
                        <a href="/dashboard/account">
                            <div class="px-6 h-full flex items-center duration-200 hover:bg-zinc-900 p-4 border-b-2 border-zinc-800 hover:border-blue-500">
                                <i class="mt-1 fa fa-user"></i>
                            </div>
                        </a>
                        {% if session["user_type"] == "administrator" %}
                            <a href="/admin">
                                <div class="px-6 h-full flex items-center duration-200 hover:bg-zinc-900 p-4 border-b-2 border-zinc-800 hover:border-blue-500">
                                    <i class="mt-1 fa fa-cog"></i>
                                </div>
                            </a>
                        {% endif %}
                        <a href="/logout?csrf={{ session['csrf_token'] }}">
                            <div class="px-6 h-full flex items-center duration-200 hover:bg-zinc-900 p-4 border-b-2 border-zinc-800 hover:border-blue-500">
                                <i class="mt-1 fa fa-sign-out"></i>
                            </div>
                        </a>
                    </div>
                </ul>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>