{% extends "/admin/layout.html" %}

{% block content %}
    <div class="mt-[30px]">
        {% if get_flashed_messages(with_categories=true) %}
            {% if get_flashed_messages(with_categories=true)[0][0] == "succes" %}
                <div class="shadow-xl w-[calc(100vw-320px)] bg-blue-500 text-neutral-100 py-2 px-4 mx-[30px] rounded mb-4">
                    {{ get_flashed_messages(with_categories=true)[0][1] }}
                </div>
            {% else %}
                <div class="shadow-xl w-[calc(100vw-320px)] bg-orange-500 text-neutral-100 py-2 px-4 mx-[30px] rounded mb-4">
                    {{ get_flashed_messages(with_categories=true)[0][1] }}
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="shadow-xl w-[calc(100vw-320px)] mx-[30px]">
        <div class="bg-zinc-900 p-3 rounded-t w-full border-b-2 border-blue-500">
            <div class="flex items-center">
                <i class="fa fa-network-wired text-neutral-100 mx-2 mr-4"></i>
                <h2 class="font-semibold text-xl text-neutral-100">Create node</h2>
            </div> 
        </div>
        <div class="w-[calc(100vw-320px)] bg-zinc-800/70 p-6 overflow-y-auto">
            <form action="/api/admin/nodes/create" method="post">
                <input type="text" name="csrf_token" value="{{ session['csrf_token'] }}" hidden>
                <input type="text" name="token" value="{{ session['token'] }}" hidden>
                <div class="flex">
                    <div class="text-neutral-100 mx-2 flex flex-col w-1/4">
                        <label for="name" class="mb-2">Name</label>
                        <input type="text" name="name" class="rounded bg-zinc-700 py-1 px-3 border border-zinc-600" required>
                    </div>
                    <div class="text-neutral-100 mx-2 flex flex-col w-1/4">
                        <label for="ip" class="mb-2">Domain</label>
                        <input type="text" name="ip" class="rounded bg-zinc-700 py-1 px-3 border border-zinc-600" required>
                    </div>
                    <div class="text-neutral-100 mx-2 flex flex-col w-1/4">
                        <label for="memory" class="mb-2">Memory</label>
                        <div class="flex border border-zinc-600 rounded bg-zinc-700 justify-between">
                            <input type="text" name="memory" class="rounded-l bg-zinc-700 outline-none py-1 px-3" required>
                            <div class="bg-zinc-700 p-1 text-neutral-300">MB</div>
                        </div>
                    </div>
                    <div class="text-neutral-100 mx-2 flex flex-col w-1/4">
                        <label for="disk" class="mb-2">Storage</label>
                        <div class="flex border border-zinc-600 rounded bg-zinc-700 justify-between">
                            <input type="text" name="disk" class="rounded-l bg-zinc-700 outline-none py-1 px-3" required>
                            <div class="bg-zinc-700 p-1 text-neutral-300">MB</div>
                        </div>
                    </div>
                </div>
                <input type="submit" id="create_node" hidden>
            </form>
        </div>
        <div class="bg-zinc-800/70 rounded-b p-4">
            <div class="flex justify-end">
                <a onclick="document.getElementById('create_node').click()" class="select-none text-white font-semibold bg-blue-500 hover:bg-blue-600 duration-300 rounded px-4 py-1 mx-1">Create Node</a>
            </div>
        </div>
    </div>
{% endblock %}