{% extends "/admin/layout.html" %}

{% block content %}
    <div class="mt-[30px]">
        {% if get_flashed_messages(with_categories=true) %}
            {% if get_flashed_messages(with_categories=true)[0][0] == "succes" %}
                <div class="shadow-xl w-[calc(100vw-320px)] bg-blue-500 text-neutral-100 py-2 px-4 mx-[30px] rounded mb-4">
                    {{ get_flashed_messages(with_categories=true)[0][1] }}
                </div>
            {% else %}
                <div class="shadow-xl w-[calc(100vw-320px)] bg-orange-500 text-neutral-100 py-2 px-4 mx-[30px] rounded mb-4">
                    {{ get_flashed_messages(with_categories=true)[0][1] }}
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="shadow-xl w-[calc(100vw-320px)] mx-[30px]">
        <div class="bg-zinc-900 p-3 rounded-t w-full border-b-2 border-blue-500">
            <div class="flex items-center">
                <i class="fa fa-network-wired text-neutral-100 mx-2 mr-4"></i>
                <h2 class="font-semibold text-xl text-neutral-100">Deploy token</h2>
            </div> 
        </div>
        <div class="w-[calc(100vw-320px)] bg-zinc-800/70 p-5 overflow-y-auto">
            <div class="bg-black font-mono text-sm border border border-zinc-600 rounded px-5 py-3 overflow-y-auto text-white">
                <span class="mr-3 select-none text-zinc-400">$</span>cd /etc/deamon && python3 app.py --token {{ query("SELECT * FROM nodes WHERE id = ?", nodeid)[0][5] }}
            </div>
        </div>
        <div class="bg-zinc-800/70 rounded-b p-4">
            <div class="flex justify-end">
                <a id="copy_command" class="text-center select-none text-white font-semibold bg-blue-500 hover:bg-blue-600 duration-300 rounded px-4 py-1 mx-1 w-[200px]">Copy Command</a>
                <script>
                    document.getElementById("copy_command").addEventListener("click", function (clicked) {
                        return function () {
                            if (!clicked) {
                                var last = this.innerHTML;
                                this.innerHTML = "Copied command";
                                this.classList.remove("bg-blue-500")
                                this.classList.remove("hover:bg-blue-600")
                                this.classList.add("bg-green-400")
                                navigator.clipboard.writeText("cd /etc/deamon && python3 app.py --token {{ query('SELECT * FROM nodes WHERE id = ?', nodeid)[0][5] }}")
                                clicked = true;
                                setTimeout(function () {
                                    this.innerHTML = last;
                                    this.classList.remove("bg-green-400")
                                    this.classList.add("bg-blue-500")
                                    this.classList.add("hover:bg-blue-600")
                                    clicked = false;
                                }.bind(this), 2000);
                            }
                        };
                    } (false), this);
                </script>
            </div>
        </div>
    </div>
{% endblock %}