{% extends "themes/default/dashboard/dash_layout.html" %}

{% block content %}
    {% if servers %}
        <div class="mt-8">
            {% for server in servers %}
                <div class="flex justify-center">
                    <a href="/dashboard/server/{{ server[0] }}">
                        <div class="justify-between flex w-[1200px] shadow-xl my-1 items-center bg-zinc-900/70 rounded border border-zinc-800 hover:border-zinc-600 duration-200 py-6 px-7 mx-8">
                            <div class="text-neutral-100 font-semibold text-xl flex items-center">
                                <div class="mr-5">
                                    <i class="fa fa-server"></i>
                                </div>
                                <h2 class="mx-1">{{ server[1] }}</h2>
                            </div>
                            <div class="flex text-neutral-300 text-md items-center">
                                <div class="flex items-center mx-1">
                                    <i class="fas fa-male" style="padding-left: 20px"></i>
                                    <h2 class="mx-2" style="padding-right: 20px">{{ server[7] }}</h2>
                                    <i class="fas fa-microchip" style="padding-left: 20px"></i>
                                    <h2 class="mx-2" style="padding-right: 20px">Using {{ server[2] }} % of 100 %</h2>
                                    <i class="fas fa-memory" style="padding-left: 20px"></i>
                                    <h2 class="mx-2" style="padding-right: 20px">Using {{ server[3] }} MB of {{ server[4] }} MB</h2>
                                    <i class="fas fa-hdd" style="padding-left: 20px"></i>
                                    <h2 class="mx-2" style="padding-right: 20px">Using {{ server[2] }} MB of {{ server[5] }} MB</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>  
            {% endfor %}
        </div>
    {% else %}
        <h2 class="text-lg text-neutral-200 font-semibold text-center mt-12">
            You do not have any servers
        </h2>
    {% endif %}
{% endblock %}