<html>
    <head>
        <title>{{ title }}</title>
        <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/xterm@4.19.0/lib/xterm.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm@4.19.0/css/xterm.css">
        <script src="https://cdn.jsdelivr.net/npm/xterm-addon-fit@0.5.0/lib/xterm-addon-fit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/theme/monokai.min.css" rel="stylesheet" />
        <script src="https://esironal.github.io/cmtouch/mode/xml/xml.js"></script>
        <script src="https://esironal.github.io/cmtouch/mode/javascript/javascript.js"></script>
        <script src="https://esironal.github.io/cmtouch/mode/python/python.js"></script>
        <script src="https://esironal.github.io/cmtouch/mode/css/css.js"></script>
        <script src="https://esironal.github.io/cmtouch/mode/htmlmixed/htmlmixed.js"></script>
        <script src="https://esironal.github.io/cmtouch/addon/selection/active-line.js"></script>
        <script src="https://esironal.github.io/cmtouch/addon/edit/matchbrackets.js"></script>
        <script src="https://esironal.github.io/cmtouch/addon/edit/closebrackets.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css" />
    </head>
    <body class="bg-zinc-600">
        <div class="bg-zinc-800 shadow-xl fixed top-0 w-full">
            <ul class="flex justify-between h-[4rem] mx-20 text-neutral-200 items-center">
                <a href="/">
                    {% if query('SELECT panel_logo FROM settings')[0][0] %} 
                        <img class="h-[35px]" src="{{ query('SELECT panel_logo FROM settings')[0][0] }}">
                    {% else %}    
                        <li class="text-2xl font-semibold">{{ query("SELECT panel_name FROM settings")[0][0] }}</li>
                    {% endif %}
                </a>
                <div class="flex items-center h-full">
                    <a href="/dashboard">
                        <div class="px-6 h-full flex items-center duration-200 hover:bg-zinc-900 p-4 border-b-2 border-blue-500">
                            <i class="mt-1 fa fa-server"></i>
                        </div>
                    </a>
                    <a href="/dashboard/account">
                        <div class="px-6 h-full flex items-center duration-200 hover:bg-zinc-900 p-4 border-b-2 border-zinc-800 hover:border-blue-500">
                            <i class="mt-1 fa fa-user"></i>
                        </div>
                    </a>
                    {% if query("SELECT user_type FROM users WHERE id = ?", session["id"])[0][0] == "administrator" %}
                        <a href="/admin">
                            <div class="px-6 h-full flex items-center duration-200 hover:bg-zinc-900 p-4 border-b-2 border-zinc-800 hover:border-blue-500">
                                <i class="mt-1 fa fa-cog"></i>
                            </div>
                        </a>
                    {% endif %}
                    <a href="/logout?csrf={{ session['csrf_token'] }}">
                        <div class="px-6 h-full flex items-center duration-200 hover:bg-zinc-900 p-4 border-b-2 border-zinc-800 hover:border-blue-500">
                            <i class="mt-1 fa fa-sign-out"></i>
                        </div>
                    </a>
                </div>
            </ul>
        </div>
        <div class="text-neutral-100 bg-zinc-900/80 top-0 w-[4rem] mt-[4rem] shadow-xl h-full fixed flex flex-col bg-zinc-800">
            {% if title == "Console" %}
                <a href="/dashboard/server/{{ serverid }}">
                    <div class="h-full flex justify-center items-center duration-200 hover:bg-zinc-900 p-5 px-6 border-r-2 border-blue-500">
                        <i class="ml-[2px] fa-solid fa-terminal"></i>
                    </div>
                </a>
            {% else %}
                <a href="/dashboard/server/{{ serverid }}">
                    <div class="h-full flex justify-center items-center duration-200 hover:bg-zinc-900 p-5 px-6 border-r-2 hover:border-blue-500 border-zinc-800">
                        <i class="ml-[2px] fa-solid fa-terminal"></i>
                    </div>
                </a>
            {% endif %}
            {% if title == "File Manager" or title == "Edit File" %}
                <a href="/dashboard/server/{{ serverid }}/files">
                    <div class="h-full flex justify-center items-center duration-200 hover:bg-zinc-900 p-5 px-6 border-r-2 border-blue-500">
                        <i class="ml-[2px] fa-solid fa-folder"></i>
                    </div>
                </a>
            {% else %}
                <a href="/dashboard/server/{{ serverid }}/files">
                    <div class="h-full flex justify-center items-center duration-200 hover:bg-zinc-900 p-5 px-6 border-r-2 hover:border-blue-500 border-zinc-800">
                        <i class="ml-[2px] fa-solid fa-folder"></i>
                    </div>
                </a>
            {% endif %}
            {% if title == "Configuration" %}
                <a href="/dashboard/server/{{ serverid }}/configuration">
                    <div class="h-full flex justify-center items-center duration-200 hover:bg-zinc-900 p-5 px-6 border-r-2 border-blue-500">
                        <i class="ml-[2px] fa-solid fa-cogs"></i>
                    </div>
                </a>
            {% else %}
                <a href="/dashboard/server/{{ serverid }}/configuration">
                    <div class="h-full flex justify-center items-center duration-200 hover:bg-zinc-900 p-5 px-6 border-r-2 hover:border-blue-500 border-zinc-800">
                        <i class="ml-[2px] fa-solid fa-cogs"></i>
                    </div>
                </a>
            {% endif %}
            {% if title == "Edit File" %}
                <script>
                    $(document).ready(function(){
                        $("#save_file").on("submit", function(e){
                            e.preventDefault();
                            $.ajax({
                                type: "POST",
                                url: "https://{{ query('SELECT * FROM nodes WHERE id = ?', query('SELECT * FROM servers WHERE id = ?', serverid)[0][5])[0][4] }}:8080/api/servers/{{ query('SELECT * FROM servers WHERE id = ?', serverid)[0][9] }}/files/edit",
                                data: new FormData(this),
                                contentType: false,
                                cache: false,
                                processData: false,
                                success: function(data) {
                                    $("#save_button").removeClass().addClass("ml-[2px] fas fa-sync fa-spin")
                                    setTimeout(function () {
                                        $("#save_button").removeClass().addClass("ml-[2px] fa-solid fa-save")
                                    }, 500);
                                },
                            });
                        });
                    });

                    $(document).keydown(function(event) {
                        if((event.ctrlKey || event.metaKey) && event.which == 83) {
                            event.preventDefault();
                            document.getElementById("submit_file").click();
                        };
                    });
                </script>
                <a onclick="document.getElementById('submit_file').click()">
                    <div class="h-full flex justify-center items-center duration-200 hover:bg-zinc-900 p-5 px-6 border-r-2 border-zinc-800 hover:border-zinc-900">
                        <i id="save_button" class="ml-[2px] fa-solid fa-save"></i>
                    </div>
                </a>
            {% endif %}
        </div>
        <div class="ml-[4rem] w-[calc(100vw-4rem)] h-full overflow-auto">
            <div class="mt-[1rem]">
                <div id="loader">
                    <div class="mt-[-1rem] text-neutral-100 h-full opacity-50 text-8xl w-full flex justify-center items-center">
                        <i class="fas fa-circle-notch fa-spin"></i>
                    </div>
                </div>
                <script>
                    document.onreadystatechange = function() {
                        if (document.readyState !== "complete") {
                            document.querySelector("#loader").style.visibility = "visible";
                        } else {
                            setTimeout(() => {
                                document.querySelector("#loader").style.display = "none";
                            }, 200);
                        }
                    };
                </script>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>