{% extends "/admin/layout.html" %}

{% block content %}
    <div class="mt-[30px]">
        {% if get_flashed_messages(with_categories=true) %}
            {% if get_flashed_messages(with_categories=true)[0][0] == "succes" %}
                <div class="shadow-xl w-[calc(100vw-320px)] bg-blue-500 text-neutral-100 py-2 px-4 mx-[30px] rounded mb-4">
                    {{ get_flashed_messages(with_categories=true)[0][1] }}
                </div>
            {% else %}
                <div class="shadow-xl w-[calc(100vw-320px)] bg-orange-500 text-neutral-100 py-2 px-4 mx-[30px] rounded mb-4">
                    {{ get_flashed_messages(with_categories=true)[0][1] }}
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="shadow-xl w-[calc(100vw-320px)] mx-[30px]">
        <div class="rounded-t-md text-neutral-100 font-semibold bg-zinc-900 p-3">
            <div class="flex items-center justify-between">
                <h2 class="text-sm uppercase">Users</h2>
                <a href="/admin/users/create" class="select-none text-white font-semibold bg-blue-500 hover:bg-blue-600 duration-300 rounded px-4 py-1 mx-1">Create Node</a>
            </div> 
        </div>
        <div class="w-[calc(100vw-320px)]">
            <table class="w-full text-sm text-left text-neutral-300">
                <thead class="text-xs uppercase bg-zinc-800/70 text-neutral-100 font-semibold">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Username
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Email
                        </th>
                        <th scope="col" class="px-6 py-3">
                            User Type
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">Settings</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% if query("SELECT * FROM users ORDER BY id ASC") %}
                        {% for user in query("SELECT * FROM users ORDER BY id ASC") %}
                            <tr class="border-t bg-zinc-800/70 border-zinc-700 hover:bg-zinc-800 duration-200">
                                <td class="px-6 py-4">
                                    {{ user[1] }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ user[2] }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ user[5] }}
                                </td>
                                <td class="px-6 py-4 text-right">
                                    <a href="/admin/users/{{ user[0] }}/view" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Manage user</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}